/*
  Theme Name:       ASU Divi
  Theme URI:        https://research.asu.edu
  Version:          1.0.17
  Description:      A child theme of Divi created for ASU.
  Author:           wsparkhu@asu.edu
  Author URI:       http://research.asu.edu
  Template:         Divi
  GitHub Theme URI: https://github.com/ASU-OKED-WEB-DEV/asu-divi
*/

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 400;
  background-color: white;
}
h1, h2, h3, h4 ,h5, h6, strong {
  line-height: 1.44;
  font-weight: bold;
}
h1 {
  font-size: 60px;
  line-height: 1;
  font-weight: 900;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}



/* LINK COLORS */
#main-content h1 a:link,
#main-content h1 a:visited,
#main-content h2 a:link,
#main-content h2 a:visited,
#main-content h3 a:link,
#main-content h3 a:visited,
#main-content h4 a:link,
#main-content h4 a:visited,
#main-content h5 a:link,
#main-content h5 a:visited,
#main-content h6 a:link,
#main-content h6 a:visited,
#main-content p a:link,
#main-content p a:visited {
  color: #8c1d40;
}
#main-content h1 a:hover,
#main-content h1 a:active,
#main-content h2 a:hover,
#main-content h2 a:active,
#main-content h3 a:hover,
#main-content h3 a:active,
#main-content h4 a:hover,
#main-content h4 a:active,
#main-content h5 a:hover,
#main-content h5 a:active,
#main-content h6 a:hover,
#main-content h6 a:active,
#main-content p a:hover,
#main-content p a:active {
  color: #d23153;
}
/* LINKS CONTENT DARK */
#main-content .et_pb_bg_layout_dark h1 a:link,
#main-content .et_pb_bg_layout_dark h1 a:visited,
#main-content .et_pb_bg_layout_dark h2 a:link,
#main-content .et_pb_bg_layout_dark h2 a:visited,
#main-content .et_pb_bg_layout_dark h3 a:link,
#main-content .et_pb_bg_layout_dark h3 a:visited,
#main-content .et_pb_bg_layout_dark h4 a:link,
#main-content .et_pb_bg_layout_dark h4 a:visited,
#main-content .et_pb_bg_layout_dark h5 a:link,
#main-content .et_pb_bg_layout_dark h5 a:visited,
#main-content .et_pb_bg_layout_dark h6 a:link,
#main-content .et_pb_bg_layout_dark h6 a:visited {
  color: #ffffff;
}
#main-content .et_pb_bg_layout_dark a:link,
#main-content .et_pb_bg_layout_dark a:visited {
  color: #a9a9a9;
}
#main-content .et_pb_bg_layout_dark h1 a:hover,
#main-content .et_pb_bg_layout_dark h1 a:active,
#main-content .et_pb_bg_layout_dark h2 a:hover,
#main-content .et_pb_bg_layout_dark h2 a:active,
#main-content .et_pb_bg_layout_dark h3 a:hover,
#main-content .et_pb_bg_layout_dark h3 a:active,
#main-content .et_pb_bg_layout_dark h4 a:hover,
#main-content .et_pb_bg_layout_dark h4 a:active,
#main-content .et_pb_bg_layout_dark h5 a:hover,
#main-content .et_pb_bg_layout_dark h5 a:active,
#main-content .et_pb_bg_layout_dark h6 a:hover,
#main-content .et_pb_bg_layout_dark h6 a:active,
#main-content .et_pb_bg_layout_dark a:hover,
#main-content .et_pb_bg_layout_dark a:active {
  color: #ffc627;
}



/* HEADER */
/* Header & Navigation > Primary Menu > Menu Height 40 */
#asu_hdr {
  width: 82%;
  max-width: 1100px;
  margin: 0 auto !important;
}
.logo_container {
  display: none;
}
.header__sitename {
  position: relative;
  width: 82%;
  max-width: 1100px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0 12px 10px !important;
  font-size: 24px !important;
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
  color: #2a2a2a;
}
.header__sitename_wrapper a {
  color: #2a2a2a;
}
.header__sitename:hover {
  color: #d23153;
}
#main-header {
  z-index: 10;
}
#et-top-navigation {
  float: left;
  padding-left: 0 !important;
}
@media only screen and (min-width: 981px) {
  #main-header {
    top: 0 !important;
    height: 54px;
    line-height: 22px;
    background: #353535;
  }
  .et_header_style_left #et-top-navigation,
  .et_header_style_split #et-top-navigation {
      padding: 0 !important;
  }
}
#top-menu > li > a {
  padding: 18px 20px !important;
  height: 54px;
  color: #ededed;
}
#top-menu li {
  display: inline-block;
  height: 54px;
  padding-right: 0;
  font-size: inherit;
}
#top-menu li.current-menu-ancestor>a,
#top-menu li.current-menu-item>a {
  color: #edb059;
  background: #000000;
}
#et-secondary-nav .menu-item-has-children>a:first-child:after,
#top-menu .menu-item-has-children>a:first-child:after {
  top: 20px;
}
#top-menu .menu-item-has-children>a:first-child {
  padding-right: 30px !important;
}
#top-menu .menu-item-has-children>a:first-child:after {
  right: 10px;
}
@media only screen and (max-width: 768px) {
  #asu_logo {
    width: 77px !important
  }
}
@media only screen and (max-width: 980px) {
  .mobile_nav {
    max-height: 30px !important;
  }
}
ul.menu a {
  color: #a9a9a9;
}
.et_pb_bg_layout_light ul.menu .current_page_item a {
  color: #8c1d40;
}
.et_pb_bg_layout_dark ul.menu .current_page_item a {
  color: #ffc627;
}
.et_pb_bg_layout_light ul.menu a:hover {
  color: #d23153;
}
.et_pb_bg_layout_dark ul.menu a:hover {
  color: #ffc627;
}



/* SINGLE */
.single #main-content #dce-custom-post {
  padding-top: 40px;
}
.has-post-thumbnail .et_pb_image_container {
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}
@media (max-width: 980px) {
  .et_pb_section {
    padding: 25px 0 50px 0;
  }
}



/* BLOG INDEX PAGE */
.archive .has-post-thumbnail > a:nth-child(1),
.search .has-post-thumbnail > a:nth-child(1),
.blog .has-post-thumbnail > a:nth-child(1) {
  float: right;
  width: 33%;
  padding: 0 0 20px 20px;
}
.archive .has-post-thumbnail a img,
.search .has-post-thumbnail a img,
.blog .has-post-thumbnail a img {
  border: 5px solid #cccccc;
}
.entry-title {
  font-size: 24px !important;
}
.single .entry-title,
.main_title {
  font-size: 36px !important;
}
.post-meta {
  padding-bottom: 15px;
  font-size: 14px !important;
  color: #999999 !important;
}
.post-meta a {
  color: #999999 !important;
}
.post-meta a:hover {
  color: #d23153 !important;
}
@media only screen and (max-width: 768px) {
  .blog .has-post-thumbnail > * {
    width: 100% !important;
  }
  .blog .has-post-thumbnail > a:nth-child(1) {
    display: none;
  }
}



/* FOOTER */
#innovation-footer {
  box-shadow: 0px 500px 0px 500px #E5E5E5;
}
#footer-widgets .footer-widget .title {
  color: #ffffff;
}
#footer-widgets .footer-widget a:link,
#footer-widgets .footer-widget a:visited {
  color: #a9a9a9 !important;
}
#footer-widgets .footer-widget a:hover,
#footer-widgets .footer-widget a:active {
  color: #ffc627 !important;
}
#footer-widgets .footer-widget li {
  position: relative;
  padding-left: 0;
}
#footer-widgets .footer-widget li:before {
  border: none;
}
@media only screen and (max-width: 980px) {
  .footer-widget:nth-child(1) {
      width: 100%!important;
  }
}



/* SIDEBAR */
#sidebar a:link,
#sidebar a:visited {
  color: #666666;
}
#sidebar .current_page_item a {
  font-weight: bold;
  color: #000000;
}
#sidebar a:hover,
#sidebar a:active {
  color: #d23153;
}
#main-content .et_pb_widget ul {
  padding-top: 10px !important;
}
#main-content .et_pb_widget ul li {
  margin-bottom: .5em;
  padding-bottom: 10px;
}
@media only screen and (max-width: 980px) {
  #asu_hdr #asu_mobile_hdr > #asu_mobile_button,
  #asu_hdr > #asu_mobile_hdr > .f-search {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
  }
  .et_menu_container {
    height: 80px;
  }
  #et_mobile_nav_menu {
    display: block;
  }
  #main-content	.et_pb_widget {
    width: 100% !important;
  }
  #main-content .et_pb_widget ul {
    border-top: 1px solid #eeeeee;
  }
  #main-content .et_pb_widget ul li {
    border-bottom: 1px solid #eeeeee;
  }
}



/* CONTAINERS AND CONTENT AREA SPACING */
#main-content .container {
  padding-top: 58px;
  padding-bottom: 58px;
}
@media only screen and (max-width: 980px) {
  .et_pb_section {
      padding: 0 0 0 0;
  }
}



/* DIVI COMPONENT OVERRIDES */
#main-content a.et_pb_button:hover {
  border: 2px solid transparent;
}
.et_pb_text_inner {
  overflow: hidden;
}
/* TABLE BORDERS WHITE */
.entry-content table, body.et-pb-preview #main-content .container table {
  border: 1px solid #fff;
}
.entry-content tr td, body.et-pb-preview #main-content .container tr td {
    border-top: 1px solid #fff;
}
/* TABLES ENABLE SCROLLING ON MOBILE */
@media only screen and (max-width: 768px) {
  .et_pb_text_inner {
    overflow-x:auto;
  }
  .et_pb_text_inner table tr td {
    padding: 5px;
  }
}


/* CAPTIONS */
.wp-caption {
  float: right;
  max-width: 50% !important;
  margin-left: 20px;
  padding-top: 8px;
}
.wp-caption img {
  width: 100%;
}
@media all and (max-width: 767px) {
  .wp-caption {
    max-width: 100% !important;
    width: 100%;
  }
}



/* NINJA FORMS */
.nf-form-cont {
  max-width: 700px;
	margin: 0 auto;
}
.nf-form-cont .nf-field {
	margin: 30px 0 0 0;
}
.nf-form-cont input,
.nf-form-cont textarea {
  padding: 16px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px !important;
  font-size: 18px;
  color: #000000 !important;
  background-color: #ffffff !important;
}
